
# Project files
*.iml
.gradle
/local.properties
/.idea
/build
/captures
/app/build
/app/release
/app/github
/.kotlin

# LLM
/skills

# OSX
.DS_Store
TODO.md

.externalNativeBuild
.cxx
local.properties
